@font-face {
    font-family: "UniNeueHeavy";
    src: url("../fonts/UniNeueHeavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "UniNeueBlack";
    src: url("../fonts/UniNeueBlack.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "UniNeueBold";
    src: url("../fonts/UniNeueBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "UniNeueRegular";
    src: url("../fonts/UniNeueRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "UniNeueBook";
    src: url("../fonts/UniNeueBook.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "UniNeueLight";
    src: url("../fonts/UniNeueLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "UniNeueThin";
    src: url("../fonts/UniNeueThin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
