*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li,
a,
p {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-size: inherit;
}

button {
    text-decoration: none;
    outline: none;
    border: none;
    font-size: inherit;
}

body {
    font-size: 16px;
    background-color: rgba(49, 49, 49, 0.226);
    overflow: hidden;
}

// /.NULLSTYLES

$text: #282728;
$primary: #ffffff;


.container {
    max-width: vwmax(1700);
    padding: 0 vwmax(10);
    margin: 0 auto;
    // min-height: 100vh;
}
.container-main {
    // max-width: 55%;
    max-width: vwmax(850);
    margin: 0 auto 0 0;

    min-height: 100vh;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-computation {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.main {
    min-height: 100vh;
}

.section {
    min-height: 100vh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/background.jpg);
}

.btn {
    cursor: pointer;
    color: #fff;
    font-size: vwmax(16);
}

.btn--nav {
    padding: vwmax(25) vwmax(35);
    border-radius: 0.3vmax;
    background-color: #313d4b;
    // font-size: vwmax(16);
    @extend %u-regular;
    transition: 0.25s linear;
    &:hover {
        box-shadow: vwmax(0) vwmax(10) vwmax(2) vwmax(-5) rgba(92, 110, 138, 1) inset;
    }
}

.btn--calc {
    text-transform: uppercase;
    background-color: #fe6f51;
    text-align: start;
    @extend %u-bold;
}

.icon:active:after {
    opacity: 0;
}

.btn--switch {
    background-color: transparent;
    color: $text;
    padding: 0;
    transition: 0.3s linear;
    &:hover {
        color: #fe6f51;
    }
}

svg {
    width: vwmax(50);
    height: vwmax(25);
}

.menu-icon {
    display: none;
    width: vwmax(150);
    height: vwmax(35);
    z-index: 10;
}
.menu-icon div {
    width: vwmax(30);
    height: vwmax(5);
    background: #282728;
    margin: vwmax(5);
    transition: all 0.35s;
    border-radius: vwmax(2);
}

.nav_mobile {
    display: none;
}

// #map {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     transition: .5s linear;
//     display: none;
//     // z-index: -1;
//     // opacity: 0;
// }

// #map.visible {
//     display: block;
//     width: 90%;
//     // opacity: 1;
//     z-index: 2;
//     height: vwmax(850);
// }
