%u-heavy {
    font-family: "UniNeueHeavy";
    font-weight: 900;
}

%u-black {
    font-family: "UniNeueBlack";
    font-weight: 800;
}

%u-bold {
    font-family: "UniNeueBold";
    font-weight: 700;
}

%u-regular {
    font-family: "UniNeueRegular";
    font-weight: 400;
}

%u-book {
    font-family: "UniNeueBook";
    font-weight: 300;
}

%u-light {
    font-family: "UniNeueLight";
    font-weight: 200;
}

%u-thin {
    font-family: "UniNeueThin";
    font-weight: 100;
}
