@import "functions";
@import "fonts";
@import "vars";
@import "global";

.header {
    position: relative;
    width: 100%;
    height: 100vh;

    background-position: center;
    background-size: cover;
    background-image: url(../img/background.jpg);
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: vw(50);
        width: vw(830);
    }
}
.worker {
    position: absolute;
    width: vw(125);
    top: vw(320);
    left: vw(1650);
    display: flex;
    flex-direction: column;
    &__name {
        @extend %u-bold;
        font-size: vw(24);
    }
    &__profession {
        @extend %u-regular;
        font-size: vw(17);
    }
    &__experience {
        @extend %u-regular;
        font-size: vw(15);
    }
}
.nav {
    padding-top: vw(40);
    &__section_1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: vw(70);
    }
    &__menu {
        display: flex;
        justify-content: space-between;
    }
    &__menu-item {
        line-height: vw(10);
    }
    &__menu-link {
        text-transform: uppercase;
        color: $primary;
        @extend %u-bold;
        font-size: vw(16);
        transition: 0.3s linear;
        &:hover {
            color: #00a2f2;
        }
    }
}

.logo {
    display: flex;
    align-items: flex-end;
    &__img {
        width: vw(185);
        margin-right: vw(30);
    }
    &__text {
        @extend %u-regular;
        font-size: vw(16);
        width: vw(250);
    }
}

.location {
    display: flex;
    align-items: center;
    &__img {
        width: vw(80);
        margin-right: vw(10);
    }
    &__description {
        @extend %u-regular;
        font-size: vw(16);
        line-height: vw(20);
        transition: 0.2s linear;
        &:hover {
            color: #fe5851;
            cursor: pointer;
        }
    }
    &__link {
        @extend %u-regular;
        font-size: vw(14);
        color: #fe5851;
        border-bottom: vw(1) solid #fe5851;
    }
}

.switch {
    display: flex;
    flex-direction: column;
    &__buttons {
        line-height: 0;
    }
    &__title {
        font-size: vw(16);
        @extend %u-regular;
        margin-bottom: vw(10);
    }
    &__buttons {
        text-align: center;
    }
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__menu {
        display: flex;
        justify-content: center;
        :nth-child(3) {
            margin-right: 0;
        }
    }
    &__top {
        display: flex;
        align-items: center;
    }
    &__icon {
        width: vw(25) !important;
        height: vw(20) !important;
    }
    &__number {
        font-size: vw(22);
        @extend %u-heavy;
        color: $primary;
    }
    &__menu-item {
        width: vw(50);
        height: vw(50);
        border-radius: vw(50);
        background-color: #7460f3;
        transition: 0.3s linear;
        transform: scale(1);
        margin-right: vw(10);
        &:hover {
            transform: scale(1.1);
        }
    }
    &__menu-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .telegram {
        background-color: #00a2f2;
    }
    .whatsapp {
        background-color: #25d266;
    }
}

.features {
    display: flex;
    flex-direction: column;
    width: vw(810);
    margin-top: vw(90);
    &__title {
        @extend %u-book;
        font-size: vw(60);
        line-height: vw(60);
        margin-bottom: vw(60);
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__text {
        @extend %u-regular;
        font-size: vw(20);
    }
    &__text-number {
        @extend %u-black;
        font-size: vw(75);
        line-height: vw(65);
        margin-right: vw(10);
    }
    &__item {
        display: flex;
        position: relative;
    }
    &__item_1 {
        width: vw(300);
    }
    &__item_2 {
        width: vw(195);
    }
    &__item_3 {
        width: vw(195);
    }
    &__decoration {
        position: absolute;
        top: vw(-15) !important;
        left: vw(-35) !important;
    }
}

.computation {
    display: flex;
    flex-direction: column;
    &__text {
        @extend %u-regular;
        font-size: vw(18);
        width: vw(385);
        margin: 0 auto vw(15) auto;
    }
    &__button {
        background-color: #fe6f51;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: vw(5);
        width: vw(400);
        position: relative;
        transition: 0.3s linear;
    }
    &__decoration {
        @extend %u-bold;
        background-color: $secondary;
        border-radius: vw(5);
        padding: vw(0.5) vw(5);
    }
    .calculator {
        width: vw(35);
        height: vw(35);
    }
}

.slider {
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__title {
        @extend %u-bold;
        font-size: vw(17);
        text-align: center;
        margin-bottom: vw(10);
    }
    &__gallary {
        display: flex;
        :nth-child(3) {
            margin-right: 0;
        }
    }
    &__img-box {
        width: vw(90);
        height: vw(115);
        overflow: hidden;
        margin-right: vw(10);
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border: vw(3) solid $primary;
        border-radius: vw(1);
    }
}

@import "media";
