@import "functions";
@import "fonts";
@import "vars";
@import "global";

.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
}

.logo {
    // width: 30%;
    width: 25vw;
    display: flex;
    align-items: flex-end;
    &__img {
        width: vwmax(185);
        margin-right: vwmax(25);
    }
    &__text {
        @extend %u-regular;
        font-size: vwmax(16);
    }
}

.location {
    display: flex;
    align-items: center;
    &__img {
        width: vwmax(80);
        margin-right: vwmax(10);
    }
    &__description {
        @extend %u-regular;
        font-size: vwmax(16);
        line-height: vwmax(20);
        transition: 0.2s linear;
        &:hover {
            color: #fe5851;
            cursor: pointer;
        }
    }
    &__link {
        @extend %u-regular;
        font-size: vwmax(14);
        color: #fe5851;
        border-bottom: vwmax(1) solid #fe5851;
    }
}

.nav {
    padding-top: vwmax(40);
    &__section_1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: vwmax(70);
    }
    .nav__menu-mobile {
        display: none;
        text-align: center;
    }
    &__button {
        display: inline-block;
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            width: vwmax(20);
            height: 100%;
            background-color: rgba(#fff, 0.5);
            transform: skewX(-42deg) translateX(vwmax(-50));
            animation: light-move 4s ease-in-out 0s infinite;
        }
        @keyframes light-move {
            0% {
                transform: skewX(-42deg) translateX(vwmax(-50));
            }
            20% {
                transform: skewX(-42deg) translateX(vwmax(910));
            }
            100% {
                transform: skewX(-42deg) translateX(vwmax(910));
            }
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
    }
    &__menu-item {
        line-height: vwmax(10);
    }
    &__menu-link {
        text-transform: uppercase;
        color: $text;
        @extend %u-bold;
        font-size: vwmax(16);
        transition: 0.3s linear;
        &:hover {
            color: #00a2f2;
        }
    }
}

.switch {
    display: flex;
    flex-direction: column;
    &__buttons {
        line-height: 0;
    }
    &__title {
        font-size: vwmax(16);
        @extend %u-regular;
        margin-bottom: vwmax(10);
    }
    &__buttons {
        text-align: center;
    }
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__menu {
        display: flex;
        justify-content: center;
        :nth-child(3) {
            margin-right: 0;
        }
    }
    &__top {
        display: flex;
        align-items: center;
    }
    &__icon {
        width: vwmax(25) !important;
        height: vwmax(20) !important;
    }
    &__number {
        font-size: vwmax(22);
        @extend %u-heavy;
        color: $text;
    }
    &__menu-item {
        width: vwmax(50);
        height: vwmax(50);
        border-radius: vwmax(50);
        background-color: #7460f3;
        transition: 0.3s linear;
        transform: scale(1);
        margin-right: vwmax(10);
        &:hover {
            transform: scale(1.1);
        }
    }
    &__menu-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .telegram {
        background-color: #00a2f2;
    }
    .whatsapp {
        background-color: #25d266;
    }
}

.worker {
    position: absolute;
    // width: 7%;
    width: 7vw;
    top: vwmax(320);
    left: vwmax(1650);
    display: flex;
    flex-direction: column;
    &__name {
        @extend %u-bold;
        font-size: vwmax(24);
    }
    &__profession {
        @extend %u-regular;
        font-size: vwmax(17);
    }
    &__experience {
        @extend %u-regular;
        font-size: vwmax(15);
    }
}

.features {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: vwmax(90);
    &__title {
        @extend %u-book;
        font-size: vwmax(60);
        line-height: vwmax(60);
        margin-bottom: vwmax(60);
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        :nth-child(3) {
            margin-right: 0;
        }
    }
    &__text {
        @extend %u-regular;
        font-size: vwmax(20);
    }
    &__text-number {
        @extend %u-black;
        font-size: vwmax(75);
        line-height: vwmax(65);
        margin-right: vwmax(10);
    }
    &__item {
        display: flex;
        position: relative;
    }
    &__item_1 {
        // width: 36%;
        width: 18vw;
    }
    &__item_2 {
        // width: 24%;
        width: 11vw;
    }
    &__item_3 {
        // width: 22%;
        width: 10vw;
    }
    &__decoration {
        position: absolute;
        top: vwmax(-15);
        left: vwmax(-35);
    }
}

.computation {
    margin-top: vwmax(50);
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    &__text {
        @extend %u-regular;
        font-size: vwmax(18);
        // width: 71%;
        width: 20vw;
        margin-bottom: vwmax(15);
    }
    &__button {
        padding: vwmax(20) vwmax(25) vwmax(20) vwmax(25);
        background-color: #fe6f51;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: vwmax(5);
        // width: 70%;
        width: 20vw;
        position: relative;
        overflow: hidden;
        transition: 0.25s linear;
        box-shadow: vwmax(0) vwmax(-12) vwmax(2) vwmax(-5) rgba(30, 68, 97, 0.35) inset;
        &:hover {
            box-shadow: vwmax(0) vwmax(12) vwmax(2) vwmax(-5) rgba(30, 68, 97, 0.35) inset;
        }
        &::before {
            content: "";
            position: absolute;
            width: vwmax(20);
            height: 100%;
            background-color: rgba(#fff, 0.5);
            transform: skewX(-42deg) translateX(vwmax(-250));
            animation: calc-move 4s ease-in-out infinite;
        }
        @keyframes calc-move {
            0% {
                transform: skewX(-42deg) translateX(vwmax(-250));
            }
            20% {
                transform: skewX(-42deg) translateX(vwmax(1000));
            }
            100% {
                transform: skewX(-42deg) translateX(vwmax(1000));
            }
        }
    }
    &__decoration {
        @extend %u-bold;
        background-color: $primary;
        border-radius: vwmax(5);
        padding: vwmax(0.5) vwmax(5);
    }
    .calculator {
        width: vwmax(35);
        height: vwmax(35);
        display: block;
    }
}

.slider {
    :nth-child(3) {
        margin: 0;
    }
    &__title {
        @extend %u-bold;
        font-size: vwmax(17);
        text-align: center;
        margin-bottom: vwmax(10);
    }
    &__gallary {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        width: vwmax(90);
        height: vwmax(115);
        overflow: hidden;
        margin-right: vwmax(10);
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

@import "media";
